[init]
        defaultBranch = main
[core]
        excludesfile = ~/.gitignore_global
        editor = nvim
        pager = delta
[user]
        name = Ariel Schiavoni
        email = arielschiavoni@gmail.com
        signingkey = 595C06B2231F2D31
[github]
        user = arielschiavoni
[color]
        ui = true
[push]
        default = simple
[credential]
        helper = cache --timeout=36000000
[pull]
        rebase = true
[fetch]
        prune = true
[commit]
        gpgSign = true
[remote "origin"]
        fetch = +refs/heads/*:refs/remotes/origin/*
[interactive]
        diffFilter = delta --color-only
[delta]
        dark = true
        syntax-theme = gruvbox-dark
        line-numbers = true
        side-by-side = false
        navigate = true
        keep-plus-minus-markers = false
[merge]
        conflictstyle = diff3
[diff]
        colorMoved = default
[rebase]
	autoStash = true
