.git-credentials
.ICEauthority
.Xauthority
.bash_history
.cache/
.config/*
!.config/fish
!.config/bspwm
!.config/sxhkd
!.config/polybar
.dmrc
.gnome/
.gnupg/
.lesshst
.local/
.mozilla/
.pki/
.vim/
.viminfo
.vscode-oss/
.xsession-errors
.xsession-errors.old
.tig_history
Downloads/
Desktop/
Repos/
Wallpapers/

