.git-credentials
.ICEauthority
.Xauthority
.bash_history
.cache/
.config/*
!.config/fish
!.config/bspwm
!.config/sxhkd
!.config/polybar
!.config/lf
!.config/fontconfig
.dmrc
.fnm
.gnome/
.gnupg/
.lesshst
.local/
.mozilla/
.pki/
.vim/
.viminfo
.vscode-oss/
.xsession-errors
.xsession-errors.old
.tig_history
.npm/
.yarn/
.ssh/
.tooling/
.trash/
.yarnrc
.netrc
.profile
Downloads/
Desktop/
Repos/
Wallpapers/

