.ICEauthority
.Xauthority
.bash_history
.cache/
.config/*
!.config/fish
.dmrc
.gnome/
.gnupg/
.lesshst
.local/
.mozilla/
.pki/
.vim/
.viminfo
.vscode-oss/
.xsession-errors
.xsession-errors.old
Downloads/
Desktop/
Repos/
Wallpapers/

