! https://wiki.archlinux.org/index.php/HiDPI
Xft.dpi: 192

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! st terminal config (https://github.com/LukeSmithxyz/st/blob/master/.Xdefaults)
st.font: Source Code Pro-9
st.alpha: 0.92

! Set the background, foreground and cursor colors
*.background: #282828
*.foreground: white
*.cursorColor: white
