[init]
        defaultBranch = main
[core]
        excludesfile = ~/.gitignore_global
        editor = nvim
        pager = delta
        hooksPath = no-hooks
        fsmonitor = true
        untrackedcache = true
[user]
        name = Ariel Schiavoni
        email = arielschiavoni@gmail.com
[github]
        user = arielschiavoni
[color]
        ui = true
[push]
        default = simple
[credential]
        helper = cache --timeout=36000000
[pull]
        rebase = true
[fetch]
        prune = true
[interactive]
        diffFilter = delta --color-only
[delta]
        dark = true
        line-numbers = true
        side-by-side = false
        navigate = true
        keep-plus-minus-markers = false
        ; https://github.com/folke/tokyonight.nvim/blob/main/extras/delta/tokyonight_night.gitconfig
        minus-style                   = syntax "#4a272f"
        minus-non-emph-style          = syntax "#4a272f"
        minus-emph-style              = syntax "#713137"
        minus-empty-line-marker-style = syntax "#4a272f"
        line-numbers-minus-style      = "#914c54"
        plus-style                    = syntax "#243e4a"
        plus-non-emph-style           = syntax "#243e4a"
        plus-emph-style               = syntax "#2c5a66"
        plus-empty-line-marker-style  = syntax "#243e4a"
        line-numbers-plus-style       = "#449dab"
        line-numbers-zero-style       = "#3b4261"
[merge]
        conflictstyle = zdiff3
[diff]
        colorMoved = default
        algorithm = histogram
[rebase]
        autoStash = true
[rerere]
        enabled = true
[url "https://github.com/"]
        insteadOf = git@github.com:
