[init]
        defaultBranch = main
[core]
        excludesfile = ~/.gitignore_global
        editor = nvim
        pager = delta
        hooksPath = no-hooks
        fsmonitor = true
        untrackedcache = true
[user]
        name = Ariel Schiavoni
        email = arielschiavoni@gmail.com
[github]
        user = arielschiavoni
[color]
        ui = true
[push]
        default = simple
[credential]
        helper = cache --timeout=36000000
[pull]
        rebase = true
[fetch]
        prune = true
[interactive]
        diffFilter = delta --color-only
[delta]
        dark = true
        line-numbers = true
        side-by-side = false
        navigate = true
        keep-plus-minus-markers = false
        ; tokyonight_moon theme
        minus-style                   = syntax "#3a273a"
        minus-non-emph-style          = syntax "#3a273a"
        minus-emph-style              = syntax "#6b2e43"
        minus-empty-line-marker-style = syntax "#3a273a"
        line-numbers-minus-style      = "#b55a67"
        plus-style                    = syntax "#273849"
        plus-non-emph-style           = syntax "#273849"
        plus-emph-style               = syntax "#305f6f"
        plus-empty-line-marker-style  = syntax "#273849"
        line-numbers-plus-style       = "#627259"
        line-numbers-zero-style       = "#3b4261"
[merge]
        conflictstyle = diff3
[diff]
        colorMoved = default
        algorithm = histogram
[rebase]
        autoStash = true
[rerere]
        enabled = true
[url "https://github.com/"]
        insteadOf = git@github.com:
